/* Upload Page */

.upload-page{

min-height:85vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

}

.upload-page h1{

font-size:50px;

margin-bottom:15px;

}

.upload-page p{

color:#d4d4d4;

margin-bottom:35px;

}

.upload-box{

width:500px;

padding:50px;

background:rgba(255,255,255,.08);

border:2px dashed #6ee7ff;

border-radius:25px;

backdrop-filter:blur(15px);

}

.upload-box i{

font-size:70px;

color:#6ee7ff;

margin-bottom:20px;

}

.upload-box button{

margin-top:20px;

padding:15px 30px;

background:#5b5fff;

border:none;

color:white;

border-radius:30px;

cursor:pointer;

font-size:16px;

}

#fileName{

display:block;

margin-top:20px;

color:#6ee7ff;

}

.analyze-btn{

margin-top:40px;

padding:18px 40px;

font-size:18px;

background:#6ee7ff;

color:#111827;

border:none;

border-radius:35px;

cursor:pointer;

font-weight:600;

}

.loader{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:#0f172a;

display:none;

justify-content:center;

align-items:center;

flex-direction:column;

z-index:999;

}

.spinner{

width:70px;

height:70px;

border:7px solid rgba(255,255,255,.2);

border-top:7px solid #6ee7ff;

border-radius:50%;

animation:spin 1s linear infinite;

margin-bottom:30px;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}